/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500&display=swap'); */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  min-height: 100vh;
  background-color: rgb(215, 233, 254);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  /* height: 60vh; */

  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.main {
  width: 300px;
  background-color: white;
  margin: 80px auto;
  padding: 16px;
  border-radius: 20px;
  box-shadow: -2px 20px 37px 3px rgba(0, 0, 0, 0.13);
}

img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
}

.text {
  text-align: center;
  justify-items: center;
}

.text h3 {
  padding: 0px 10px;
  margin-bottom: 12px;
  line-height: 1.4;
}

.text p {
  opacity: 70%;
  font-size: 14px;
  padding: 0px 10px;
}

.attribution {
  text-align: center;
}
/* 
@media screen and (max-width:760){
  
} */
